<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta
            name="description"
            content="Clickjacking Demo"
    />
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😈</text></svg>">


    <title>Clickjack Attack</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<h1>Clickjacking Demo</h1>
<hr/>
<div id="layout">
    <span id="about">
       When you try to click this button, notice which origin triggers the event.
    </span>
    <div id="demo-container">

        <p>You're a winner!</p>

        <button id="bait-button" >Click here to win $1 Trillion!!!</button>
        <iframe id="target-iframe" src="<%= targetSrc %>">
        </iframe>

        <div>
            <label for="target-iframe-visible">iframe in front of button?</label>
            <input type="checkbox" id="target-iframe-visible"  checked>
        </div>
        <div>
            <label for="opacity-slider">Adjust iframe opacity:</label>
            <input type="range" min=".0001" value=".1" max="1" step=".01" class="slider" id="opacity-slider">
        </div>
    </div>
</div>
</body>
</html>